/* header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    height: 75px;
}
body {
    font-family: 'Arial', sans-serif;
}
.col-25{
    display: flex;
    justify-content: flex-end;
}
.square{
    color: white;
    margin: 7px 7px 0px 0px;
    background-color: gray;
    border-radius: 5px;
}
.fa-solid{
    font-size: 15px;
}
.fianco, .fa-solid{
    padding: 6px;
    height: 24px;
}
main {
    height: calc(100vh - 75px);
    background-color: black;
    color: #fff;
    overflow: auto;
}
/*immagini centro*/
main {
    height: calc(100vh - 75px);
    background-color: black;
    color: #fff;
    overflow: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.image{
    margin: 5px;
    position: relative;
}
.picture{
    width: calc(100vw/9.5);
    position: relative;
}
.microphone{
    color: white;
    background-color: rgba(5, 5, 5, 0.401);
    position: absolute;
    bottom: 6px;
    padding-right: 5px;
}